{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Invitation</title>
  </head>
  <body>
    <div style="width: 35%; margin: auto; text-align: center; margin: 2em auto">
      <img src="{{ tenant_logo }}" width="" alt="brand logo" />
      <div
        style="
          background-color: #fff;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          text-align: left;
          margin-top: 2em;
        "
      >
        <div style="background-image: linear-gradient(to right, #d72830, #71c2e7, #4ea44f); height: 6px"></div>

        <table style="padding: 1em 2em">
          <tr>
            <td>
              <p style="font-family: 'Ubuntu', sans-serif; font-size: 20px; line-height: 1.3em">
              Welcome to Social Network, enter this code {{ code }} to register.

              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family: 'Inter', sans-serif; font-size: 16px; color: #6b6c7e">Dear {{ fullname }},</p>
            </td>
          </tr>
          <tr>
            <td>
              <p
                style="
                  font-weight: 200;
                  font-family: 'Inter', sans-serif;
                  font-size: 14px;
                  color: #6b6c7e;
                  line-height: 1.3em;
                "
              >
                  {{ text_body }}
                <span style="font-weight: 500; font-family: 'Inter', sans-serif">
                {{tenant_name}}
                </span>
                platform.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p
                style="
                  font-weight: 200;
                  font-family: 'Inter', sans-serif;
                  font-size: 14px;
                  color: #6b6c7e;
                  line-height: 1.3em;
                "
              >
                Please click the button below to complete your registration.
              </p>
            </td>
          </tr>
          <tr>
            <!--<td>
              <a href={{ url }} style="text-decoration: none">
                <div
                  style="
                    background-color: #1dadd8;
                    padding: 16px 20px;
                    border-radius: 8px;
                    color: white;
                    text-align: center;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: none;
                  "
                >
                  Complete Registration
                </div>
              </a>
            </td>
            -->
          </tr>
          <tr>
            <td>
              <p
                style="
                  color: #a7a9bc;
                  text-align: center;
                  font-family: 'Inter', sans-serif;
                  font-size: 14px;
                  padding: 0px 4em;
                "
              >
                If you need help getting started, feel free to contact our support team for assistance.
              </p>
            </td>
          </tr>
          <tr>
            <td>
              <p style="font-family: 'Inter', sans-serif; color: #1685a6; font-weight: 700; text-align: center">
                -- DATS Support Team
              </p>
            </td>
          </tr>
        </table>
      </div>
      <div style="text-align: center">
        <table style="width: 100%">
          <tr>
            <td>
              <p
                style="
                  font-family: 'Inter', sans-serif;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 12px;
                  color: #605e5c;
                "
              >
                Powered By
                <img src="{% static "img/polleasy.svg" %}" alt="logo" style="margin-left: 0.4em" />
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
